# Maintained in linux-config.org
# https://clangd.llvm.org/config#files
InlayHints:
  BlockEnd: false
  Designators: true
  Enabled: true
  ParameterNames: true
  DeducedTypes: true
  DefaultArguments: false
  TypeNameLimit: 24

CompileFlags:
  Add: [-Wunused-variable]
  
Diagnostics:
  UnusedIncludes: Strict

  ClangTidy:
    # https://clang.llvm.org/extra/clang-tidy/checks/list.html
    Add:
      - readability-*
      - modernize-*
      - performance-*
      - bugprone-*
      - cppcoreguidelines-*
      - clang-analyzer-*
    Remove:
      - cppcoreguidelines-owning-memory
      - cppcoreguidelines-avoid-magic-numbers
      - modernize-use-trailing-*
      - readability-magic-numbers
      - readability-identifier-length
      
    FastCheckFilter: None  # Loose, Strict, None
