# Maintained in linux-config.org
BasedOnStyle: Google
Language: Cpp
IndentWidth: 4
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AccessModifierOffset: -4
PointerAlignment: Left
ColumnLimit: 80
KeepEmptyLinesAtTheStartOfBlocks: true
