#!/usr/bin/env bash
# Maintained in https://github.com/rileyrg/linux-init
export SWAYIDLEHOOK_BLANK=300
export BRIGHTNESS_DELTA=2000
export TEMP_REDLINE=65
export WAYBAR_FANSPEED_MAXRPM=8000
export WAYBAR_FANSPEED_POLLTIME=5
export SWAY_WWW=brave
