#Maintained in linux-init-files.org
*
!.gitignore
!README.md
!linux-config.org

!/etc
!/etc/acpi
!/etc/acpi/events
!/etc/acpi/events/*
!/etc/acpi/actions
!/etc/acpi/actions/*

!/etc/zsh
!/etc/zsh/zshenvb
!/etc/zsh/zshprofile

!/dot-config

!/dot-config/i3
!/dot-config/i3/config

!/dot-config/i3blocks
!/dot-config/i3blocks/config

!/dot-config/i3status
!/dot-config/i3status/config

!/dot-config/polybar
!/dot-config/polybar/config

!/dot-config/zsh
!/dot-config/zsh/.zshenv
!/dot-config/zsh/.zlogin
!/dot-config/zsh/.zshrc
!/dot-config/zsh/.zprofile

!/DotFiles

!/DotFiles/.bashrc
!/DotFiles/.bash_profile
!/DotFiles/.mbsyncrc
!/DotFiles/.profile
!/DotFiles/.ignore
!/DotFiles/.ripgreprc
!/DotFiles/.xinitrc
!/DotFiles/.xsession
!/DotFiles/.xsessionrc
!/DotFiles/.Xresources
!/DotFiles/.gdbinit
!/DotFiles/.tmux.conf

!/directories

!/directories/bin

!/directories/bin/gdb-scripts/
!/directories/bin/gdb-scripts/*

!/directories/bin/one*

!/directories/bin/acpi-powerstate
!/directories/bin/add-user-paths
!/directories/bin/battery-warning*
!/directories/bin/confirm-suspend
!/directories/bin/display-id
!/directories/bin/dropbox-start-once
!/directories/bin/edit
!/directories/bin/eman
!/directories/bin/extract-debug-info
!/directories/bin/expert-advice
!/directories/bin/gdb-*
!/directories/bin/getmails
!/directories/bin/google-trans
!/directories/bin/google-trans-de-en
!/directories/bin/google-trans-en-de
!/directories/bin/gpg-cache
!/directories/bin/htop-regexp
!/directories/bin/i3-display-swap
!/directories/bin/make-compile_commands
!/directories/bin/my-*
!/directories/bin/nvidia-power-usage
!/directories/bin/pop-window
!/directories/bin/post-blank
!/directories/bin/post-lock
!/directories/bin/pre-blank
!/directories/bin/pre-lock
!/directories/bin/pulse-restart
!/directories/bin/random-man-page
!/directories/bin/resgithub
!/directories/bin/remove-broken-symlinks
!/directories/bin/remove-conflicted-copies
!/directories/bin/rnv
!/directories/bin/securelock
!/directories/bin/sharemouse
!/directories/bin/sys-logger
!/directories/bin/tmux-pane-tty
!/directories/bin/voltron-*
!/directories/bin/x-idlehook
!/directories/bin/x-backlight-persist
!/directories/bin/x-lock-utils
!/directories/bin/xmg-neo-rgb-kbd-lights
!/directories/bin/xrandr-*
