#Maintained in linux-init-files.org
*
!.gitignore
!README.md
!linux-config.org

!/.rsync-ignore

!/etc

!/etc/acpi
!/etc/acpi/events
!/etc/acpi/events/*
!/etc/acpi/actions
!/etc/acpi/actions/*

!/etc/crypttab*

!/etc/apt
!/etc/apt/*
!/etc/apt/sources.list.d
!/etc/apt/sources.list.d/*

!/etc/arch
!/etc/arch/*

!/etc/rsnapshot
!/etc/rsnapshot/*

!/etc/zsh
!/etc/zsh/zshenvb
!/etc/zsh/zshprofile

!/dot-config

!/dot-config/alacritty
!/dot-config/alacritty/*

!/dot-config/mako
!/dot-config/mako/*

!/dot-config/waybar
!/dot-config/waybar/*

!/dot-config/kanshi
!/dot-config/kanshi/*

!/dot-config/i3
!/dot-config/i3/config

!/dot-config/i3blocks
!/dot-config/i3blocks/config

!/dot-config/i3status
!/dot-config/i3status/config

!/dot-config/polybar
!/dot-config/polybar/config

!/dot-config/sway
!/dot-config/sway/config
!/dot-config/sway/host-config-*

!/dot-config/systemd
!/dot-config/systemd/user
!/dot-config/systemd/user/mbsync.*



!/dot-config/tmux
!/dot-config/tmux/tmux.conf

!/dot-config/wofi
!/dot-config/wofi/config
!/dot-config/wofi/style.css

!/dot-config/zsh
!/dot-config/zsh/.zshenv
!/dot-config/zsh/.zlogin
!/dot-config/zsh/.zshrc
!/dot-config/zsh/.zprofile

!/DotFiles

!/DotFiles/.gnupg
!/DotFiles/.gnupg/gpg.conf
!/DotFiles/.gnupg/gpg-agent.conf


!/DotFiles/.bashrc
!/DotFiles/.bash_profile
!/DotFiles/.bash_profile.local.example
!/DotFiles/.clang-format
!/DotFiles/.mbsyncrc
!/DotFiles/.profile
!/DotFiles/.ignore
!/DotFiles/.syncrclone

!/DotFiles/.syncrclone/crontab.intelnuc
!/DotFiles/.syncrclone/crontab.x1c6
!/DotFiles/.syncrclone/crontab.t14s
!/DotFiles/.syncrclone/excludes.txt
!/DotFiles/.syncrclone/gdrive-excludes.txt
!/DotFiles/.syncrclone/privacy-excludes.txt
!/DotFiles/.syncrclone/config.py
!/DotFiles/.syncrclone/gdrive-config.py
!/DotFiles/.syncrclone/gdrive-excludes.txt
!/DotFiles/.syncrclone/gdrive-docs-config.py
!/DotFiles/.syncrclone/hetzner-config.py
!/DotFiles/.ripgreprc
!/DotFiles/.Xdefaults
!/DotFiles/.gdbinit
!/DotFiles/.lldbinit

!/directories

!/directories/bin

!/directories/bin/gdb-scripts/
!/directories/bin/gdb-scripts/*

!/directories/bin/sway/
!/directories/bin/sway/*


!/directories/bin/llvm/
!/directories/bin/llvm/*

/directories/bin/llvm/build
/directories/bin/thirdparty
/directories/bin/thirdparty/*

!/directories/bin/AIS
!/directories/bin/AIScatcher
!/directories/bin/AIScheck
!/directories/bin/build-emacs
!/directories/bin/bluetooth-headphone-controls
!/directories/bin/discharge-suspend
!/directories/bin/edit
!/directories/bin/eman
!/directories/bin/expert-advice
!/directories/bin/extract-debug-info
!/directories/bin/firefox
!/directories/bin/gdb-scripts
!/directories/bin/gdrive-mount
!/directories/bin/getmails
!/directories/bin/google-trans
!/directories/bin/google-trans-de-en
!/directories/bin/google-trans-en-de
!/directories/bin/gpg-cache
!/directories/bin/hetzner-du
!/directories/bin/hetzner-mount
!/directories/bin/htop-regexp
!/directories/bin/llvm
!/directories/bin/make-compile_commands
!/directories/bin/md-read
!/directories/bin/network-online
!/directories/bin/post-blank
!/directories/bin/post-lock
!/directories/bin/pre-blank
!/directories/bin/pre-lock
!/directories/bin/.projectile
!/directories/bin/random-man-page
!/directories/bin/rclone-mount
!/directories/bin/remove-broken-symlinks
!/directories/bin/remove-conflicted-copies
!/directories/bin/resgithub.sh
!/directories/bin/rsnapshot-if-mounted
!/directories/bin/stm32cubeide-uninstall
!/directories/bin/syncrclone-gdrive-docs
!/directories/bin/syncrclone-gdrive
!/directories/bin/syncrclone-htop
!/directories/bin/syncrclone-once
!/directories/bin/thirdparty
!/directories/bin/tmux-current-session
!/directories/bin/tmux-pane-tty
!/directories/bin/upd
!/directories/bin/AIS
!/directories/bin/AIScatcher
!/directories/bin/AIScheck
!/directories/bin/build-emacs
!/directories/bin/edit
!/directories/bin/eman
!/directories/bin/expert-advice
!/directories/bin/extract-debug-info
!/directories/bin/gdb-scripts
!/directories/bin/gdrive-mount
!/directories/bin/getmails
!/directories/bin/google-trans
!/directories/bin/google-trans-de-en
!/directories/bin/google-trans-en-de
!/directories/bin/gpg-cache
!/directories/bin/hetzner-du
!/directories/bin/hetzner-mount
!/directories/bin/htop-regexp
!/directories/bin/llvm
!/directories/bin/make-compile_commands
!/directories/bin/md-read
!/directories/bin/post-blank
!/directories/bin/post-lock
!/directories/bin/pre-blank
!/directories/bin/pre-lock
!/directories/bin/.projectile
!/directories/bin/random-man-page
!/directories/bin/rclone-mount
!/directories/bin/remove-broken-symlinks
!/directories/bin/remove-conflicted-copies
!/directories/bin/rsnapshot-if-mounted
!/directories/bin/stm32cubeide-uninstall
!/directories/bin/sway
!/directories/bin/syncrclone-gdrive
!/directories/bin/syncrclone-htop
!/directories/bin/syncrclone-once
!/directories/bin/thirdparty
!/directories/bin/tmux-current-session
!/directories/bin/tmux-pane-tty
!/directories/bin/upd
!/directories/bin/wifi-toggle
!/directories/bin/enable-disable-wifi
!/directories/bin/70-wifi-wired-exclusive.sh
